/*-----------------PAGE-----------------*/

body {
	margin: 0;
	font-family: verdana;
}

section {
	width: 69%;
	float : left;
	border-right: 1px solid black;
	min-height: 1000px;
}

aside {
	width: 30%;
	float: right;
}

/*-----------------BANNER----------------*/

header {
	background-image: url(../ressources/img/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	//background-color: red;
	display: block;
	width: 100%;
	height: 300px;
}

/*-----------------TITLES-----------------*/

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	margin-bottom: 0;
}

/*--------VERTICAL NAVIGATION BAR--------*/

ul.v {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	height: 100%;
    	position: fixed;
    	overflow: auto;
}

ul.v li a {
	display: block;
	color: #000;
	padding: 10px 16px;
	text-decoration: none;
}

ul.v li a:hover {
	background-color: #555;
	color: white;
}

/*------------------TABLE-----------------*/

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
}

td.nb {
	border: none;
}

/*-----------------BUTTON-----------------*/

input[type = submit] {
	padding: 10px;
}

/*----------------------------------------*/
